<div class="section"
     style="background: url('https://cdn.pixabay.com/photo/2016/03/09/15/25/water-1246643_1280.jpg') no-repeat center/cover">
  <div class="overlay">
    <h1>МРФ "Волга"</h1>
    <div class="links">
      <span routerLink="/home">Главная</span>
      <span routerLink="/volga">МРФ "Волга"</span>
      <span routerLink="/sibir">МРФ "Сибирь"</span>
      <span routerLink="/corpcenter">Корпоративный центр</span>
      <span routerLink="/contacts">Контакты</span>
      <span routerLink="/signin" *ngIf="!isAuth()">Вход/Регистрация</span>
      <span (click)="logout()" *ngIf="isAuth()">Выход</span>
    </div>
  </div>
</div>
<div class="content">

  Макрорегиональный филиал «Волга» ПАО «Ростелеком» (МРФ «Волга») — структурное подразделение компании «Ростелеком», которое предоставляет услуги на территории Приволжского федерального округа.

  <div class="comment">
    Каждый день становится лучше, если мы будем делать его лучше. Ростелеком - платформа для воплощения идей, делающих жизнь Ростелекомичнее.
  </div>
  МРФ «Волга» объединяет 12 региональных филиалов: в Кировской, Нижегородской, Оренбургской, Пензенской,
  Самарской, Саратовской, Ульяновской областях, в Удмуртской и Чувашской республиках и республиках Марий Эл, Мордовия и Татарстан.
  <br>

  МРФ «Волга» располагает магистральными каналами связи, а также сетями местной фиксированной телефонной связи. На территории Поволжья
  «Ростелеком» оказывает полный комплекс современных телекоммуникационных сервисов, включая проводную и мобильную телефонную связь, скоростной доступ в
  интернет, интерактивное телевидение, облачные решения для частных и корпоративных клиентов, а также органов государственной власти.

  <br>
<i>
  Количество интернет-пользователей широкополосного доступа превышает 2,1 млн, из них более 1,5 млн получают услуги по оптической сети передачи данных. Свыше миллиона абонентов смотрят
  уникальный федеральный продукт «Интерактивное ТВ». Всего абонентская база МРФ «Волга» насчитывает более 5,3 млн клиентов.
</i>


  <div *ngIf="!isAuth()">
    Авторизуйтесь, чтобы посмотреть календарь событий
  </div>
  <app-calendar type="volga" *ngIf="isAuth() && getSect() === 'volga'"></app-calendar>
</div>
