<div class="section"
     style="background: url('https://cdn.pixabay.com/photo/2017/02/15/11/15/wintry-2068298_1280.jpg') no-repeat center/cover">
  <div class="overlay">
    <h1>МРФ "Сибирь"</h1>
    <div class="links">
      <span routerLink="/home">Главная</span>
      <span routerLink="/volga">МРФ "Волга"</span>
      <span routerLink="/sibir">МРФ "Сибирь"</span>
      <span routerLink="/corpcenter">Корпоративный центр</span>
      <span routerLink="/contacts">Контакты</span>
      <span routerLink="/signin" *ngIf="!isAuth()">Вход/Регистрация</span>
      <span (click)="logout()" *ngIf="isAuth()">Выход</span>
    </div>
  </div>
</div>
<div class="content">

  Макрорегиональный филиал «Сибирь» (МРФ «Сибирь») создан на базе ОАО «Сибирьтелеком», который был реорганизован
  вместе с другими Межрегиональными компаниями связи ОАО «Связьинвест» и компанией ОАО «Дагсвязьинформ» путем присоединения к ПАО «Ростелеком».
  <br>

  МРФ «Сибирь» — второй по площади макрорегион после Дальнего Востока. Его территория присутствия совпадает с границами Сибирского федерального округа (СФО), в который входят 12 субъектов РФ.
  <br>
  <i>
    МРФ способствует развитию научного, делового, творческого и личностного потенциала Сибири, обеспечивая жителей региона телекоммуникациями для бизнеса, образования и досуга.
  </i>
  <div class="comment">
    Обновление технической инфраструктуры — одна из наших приоритетных задач, поэтому продолжать работу по расширению оптических сетей в регионе мы планируем и дальше
  </div>

  «Ростелеком» установил шесть стационарных терминалов контроля доступа на входной группе в учебных корпусах и в общежитии Томского
  государственного университета систем управления и радиоэлектроники (ТУСУР).

  <br>
  Оборудование бесконтактным способом измеряет температуру тела на запястье человека и распознает лица с фиксацией в системе, таким образом сокращаются
  риски распространения вирусной инфекции в вузе, так как повышенная температура является первичным симптомом вирусных заболеваний.
  <br>

  Жители теперь могут смотреть цифровой видеосервис Wink, который объединяет преимущества интерактивного телевидения и онлайн-кинотеатра с обширной коллекцией кино, сериалов, мультфильмов, концертов и другого контента.
  <br>
  Школьникам и их родителям стала доступна обновленная и расширенная версия образовательного онлайн-сервиса «Лицей», в котором представлены видеоуроки по
  всем предметам школьной программы (кроме физкультуры), а также курсы финансовой и цифровой грамотности, занятия по маркетингу и другой дополнительный контент.
  <div *ngIf="!isAuth()">
    Авторизуйтесь, чтобы посмотреть календарь событий
  </div>
  <app-calendar type="sibir" *ngIf="isAuth() && getSect() === 'sibir'"></app-calendar>
</div>
