<div class="section"
     style="background: url('https://pbs.twimg.com/media/EFNYZIBX4AIklav.jpg') no-repeat center/cover">
  <div class="overlay">
    <h1>Главная</h1>
    <div class="links">
      <span routerLink="/home">Главная</span>
      <span routerLink="/volga">МРФ "Волга"</span>
      <span routerLink="/sibir">МРФ "Сибирь"</span>
      <span routerLink="/corpcenter">Корпоративный центр</span>
      <span routerLink="/contacts">Контакты</span>
      <span routerLink="/signin" *ngIf="!isAuth()">Вход/Регистрация</span>
      <span (click)="logout()" *ngIf="isAuth()">Выход</span>
    </div>
  </div>
</div>
<div class="content">
  ПАО «Ростелеком» (www.company.rt.ru) — крупнейший в России интегрированный провайдер цифровых услуг и решений, который присутствует во всех сегментах рынка и охватывает миллионы домохозяйств, государственных и частных организаций.
  <br>
    Компания занимает лидирующие позиции на рынке услуг высокоскоростного доступа в интернет и платного телевидения. Количество абонентов услуг ШПД превышает 13,4 млн, платного ТВ «Ростелекома» — 10,7 млн пользователей,
    из них свыше 5,8 млн подключено к услуге «Интерактивное ТВ». Дочерняя компания «Ростелекома» оператор Tele2 Россия является крупным игроком на рынке мобильной связи,
    обслуживающим более 44 млн абонентов и лидирующим по индексу NPS (Net Promoter Score) — готовности пользователей рекомендовать услуги компании.
  <br>
  <i>
  Выручка группы компаний за I полугодие 2020 года составила 248,9 млрд руб., OIBDA достигла 95,9 млрд руб. (38,5% от выручки), чистая прибыль — 15,4 млрд руб.
  </i>
  <br>
  «Ростелеком» является лидером рынка телекоммуникационных услуг для органов государственной власти России и корпоративных пользователей всех уровней.
  <br>
  <div class="comment">
    Компания — признанный технологический лидер в инновационных решениях в области электронного правительства,
    кибербезопасности, дата-центров и облачных вычислений, биометрии, здравоохранения, образования, жилищно-коммунальных
    услуг.
  </div>
  <br>
  Окончательно решить необходимо ли праздновать Вам поможет седующая цитата
  <br>
  <div style="height:78px; width:512px;  margin: auto; background-color:#EDEDED;
border-left:4px solid #8B8B8B;" align="center">
    <q>Какие же они странные, эти дни, в которые положено радоваться согласно календарю.</q>
    <p align="right"><sub>
      Осеевский
      Михаил Эдуардович
    </sub></p>
  </div>
